<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - FAMILY TREE</title>

    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap"
        rel="stylesheet">

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- 
    - preload images
  -->
    <link rel="preload" as="image" href="../images/hero-slider-1.jpg">
    <link rel="preload" as="image" href="../images/hero-slider-2.jpg">
    <link rel="preload" as="image" href="../images/hero-slider-3.jpg">

</head>

<body class="loaded">

    <!-- 
    - #PRELOADER
  -->

    <div class="preload" data-preaload>
        <div class="circle"></div>
        <p class="text">FAMILY TREE</p>
    </div>


    <footer class="footer section has-bg-image text-center"
        style="background-image: url('../images/footer-bg.jpg')">
        <p class="section-subtitle label-2">M E N U</p>
        <div class="container" id="contact">
            <div class="footer-top grid-list">


                <div class="footer-brand has-before has-after">

                    <ion-icon name="restaurant-outline"></ion-icon><a href="#" class="logo">
                        <h3 width="160" height="50" alt="Family - Home"
                            style="color: #E4C590; font-weight: 800; padding-left: 4px;">D E S E R T S
                        </h3>
                    </a>

                    <p class="menu1">Flavoured Kulfi - 119 (Add Rabdi - 31)</p>
                    <p class="menu1">Gulab Jamun with Ice-Cream - 129</p>
                    <p class="menu1">Coffee Rasgulla - 149 </p>
                    <p class="menu1">Choclate Mouse Flower Pot - 129</p>
                    <p class="menu1">Sizzling Brownie with Vanilla Ice-Cream - 179</p>
                    <p class="menu1">Honey Noodles with Ice-Cream - 149</p>
                    <p class="menu1">Choclate Lava Cake with Ice-Cream - 179</p>
                    <p class="menu1">Bannana Scramble with 3 Scoops of Ice-Cream - 149</p>
                    <p class="menu1">Choclate Fondue - 199</p>

                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                </div>


                <div class="footer-brand has-before has-after">

                    <ion-icon name="pizza-outline"></ion-icon><a href="#" class="logo">
                        <h3 width="160" height="50" alt="Family - Home"
                            style="color: #E4C590; font-weight: 800; padding-left: 4px;">E U R O P E A N
                        </h3>
                    </a>

                    <p class="menu1">Garlic Bread - 120</p>
                    <p class="menu1">Cheesy Garlic Bread - 160</p>
                    <p class="menu1">French Fries - 120</p>
                    <p class="menu1">Peri Peri French Fries - 180</p>
                    <p class="menu1">Manhattan Fries - 190</p>
                    <p class="menu1">Corn Shots - 220</p>
                    <p class="menu1">Tacos - 220</p>
                    <p class="menu1">Burrito Supreme - 220</p>
                    <p class="menu1">Quesadilla Mexicana - 220</p>


                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <footer class="footer section has-bg-image text-center"
        style="background-image: url('../images/footer-bg.jpg')">
        <div class="container" id="contact">
            <div class="footer-top grid-list">


                <div class="footer-brand has-before has-after">

                    <ion-icon name="restaurant-outline"></ion-icon><a href="#" class="logo">
                        <h3 width="160" height="50" alt="Family - Home"
                            style="color: #E4C590; font-weight: 800; padding-left: 4px;">D E S E R T S
                        </h3>
                    </a>

                    <p class="menu1">Flavoured Kulfi - 119 (Add Rabdi - 31)</p>
                    <p class="menu1">Gulab Jamun with Ice-Cream - 129</p>
                    <p class="menu1">Coffee Rasgulla - 149 </p>
                    <p class="menu1">Choclate Mouse Flower Pot - 129</p>
                    <p class="menu1">Sizzling Brownie with Vanilla Ice-Cream - 179</p>
                    <p class="menu1">Honey Noodles with Ice-Cream - 149</p>
                    <p class="menu1">Choclate Lava Cake with Ice-Cream - 179</p>
                    <p class="menu1">Bannana Scramble with 3 Scoops of Ice-Cream - 149</p>
                    <p class="menu1">Choclate Fondue - 199</p>

                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                </div>


                <div class="footer-brand has-before has-after">

                    <ion-icon name="pizza-outline"></ion-icon><a href="#" class="logo">
                        <h3 width="160" height="50" alt="Family - Home"
                            style="color: #E4C590; font-weight: 800; padding-left: 4px;">E U R O P E A N
                        </h3>
                    </a>

                    <p class="menu1">Garlic Bread - 120</p>
                    <p class="menu1">Cheesy Garlic Bread - 160</p>
                    <p class="menu1">French Fries - 120</p>
                    <p class="menu1">Peri Peri French Fries - 180</p>
                    <p class="menu1">Manhattan Fries - 190</p>
                    <p class="menu1">Corn Shots - 220</p>
                    <p class="menu1">Tacos - 220</p>
                    <p class="menu1">Burrito Supreme - 220</p>
                    <p class="menu1">Quesadilla Mexicana - 220</p>


                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <footer class="footer section has-bg-image text-center"
        style="background-image: url('../images/footer-bg.jpg')">
        
        <div class="container" id="contact">
            <div class="footer-top grid-list">


                <div class="footer-brand has-before has-after">

                    <ion-icon name="restaurant-outline"></ion-icon><a href="#" class="logo">
                        <h3 width="160" height="50" alt="Family - Home"
                            style="color: #E4C590; font-weight: 800; padding-left: 4px;">D E S E R T S
                        </h3>
                    </a>

                    <p class="menu1">Flavoured Kulfi - 119 (Add Rabdi - 31)</p>
                    <p class="menu1">Gulab Jamun with Ice-Cream - 129</p>
                    <p class="menu1">Coffee Rasgulla - 149 </p>
                    <p class="menu1">Choclate Mouse Flower Pot - 129</p>
                    <p class="menu1">Sizzling Brownie with Vanilla Ice-Cream - 179</p>
                    <p class="menu1">Honey Noodles with Ice-Cream - 149</p>
                    <p class="menu1">Choclate Lava Cake with Ice-Cream - 179</p>
                    <p class="menu1">Bannana Scramble with 3 Scoops of Ice-Cream - 149</p>
                    <p class="menu1">Choclate Fondue - 199</p>

                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                </div>


                <div class="footer-brand has-before has-after">

                    <ion-icon name="pizza-outline"></ion-icon><a href="#" class="logo">
                        <h3 width="160" height="50" alt="Family - Home"
                            style="color: #E4C590; font-weight: 800; padding-left: 4px;">E U R O P E A N
                        </h3>
                    </a>

                    <p class="menu1">Garlic Bread - 120</p>
                    <p class="menu1">Cheesy Garlic Bread - 160</p>
                    <p class="menu1">French Fries - 120</p>
                    <p class="menu1">Peri Peri French Fries - 180</p>
                    <p class="menu1">Manhattan Fries - 190</p>
                    <p class="menu1">Corn Shots - 220</p>
                    <p class="menu1">Tacos - 220</p>
                    <p class="menu1">Burrito Supreme - 220</p>
                    <p class="menu1">Quesadilla Mexicana - 220</p>


                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                </div>

            </div>
        </div>
    </footer>





    <!-- 
    - custom js link
  -->
    <script src="../js/script.js"></script>

    <!-- 
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>